*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(0, 255, 0, 0.479);
}

.all-content{
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-family: sans-serif;
}

.water-mark{
  float: right;
  font-size: 1rem;
}

/* Login Section */

main{
  display: block;
  width: 50vw;
  min-width: 200px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

main form{
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: left;
}

.warning{
  border: 1px solid red;
  color: red;
  border-radius: 3px;
  text-align: center;
}

/* Questions Section */

section{
  display: none;
  width: 60vw;
  min-width: 220px;
  height: 55vh;
  background-color: #ffffff;
  text-align: center;
}

#question{
  font-size: 1.5rem;
}

.quiz-info{
  background-color: fuchsia;
  color: #ffffff;
}

.quiz-info h5{
  margin-bottom: 0.5rem;
}

.quiz-info p{
  font-size: 1rem;
}


/* Result */

.end-of-quiz{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

article{
  display: none;
  width: 50vw;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}

.fa-star {
  font-size: 3rem;
}

#table{
  display: none;
  width: 50vw;
  min-width: 220px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: auto;
}

/* Media Query */

@media screen and (max-width: 1200px){
  main{
    width: 70vw;
  }

  section{
    width: 80vw;
  }

  article{
    width: 70vw;
    margin: 0 auto;
  }
  
  .fa-star {
    font-size: 2.7rem;
  }

  #table{
    display: none;
    width: 70vw;
    margin: 0 auto;
    border-radius: 10px;
  }
}

@media screen and (max-width: 850px) and (max-height: 850px){
  .all-content{
    height: auto;
    padding: 3rem 0;
  }

  .water-mark{
    position: relative;
    bottom: 0;
  }

  main{
    height: auto;
  }

  .logo, .result{
    font-size: 2.2rem;
  }

  section{
    height: auto;
  }

  #question{
    font-size: 1.2rem;
  }

  .quiz-info h4{
    font-size: 1.8rem;
  }
  
  .quiz-info p{
    font-size: 1.1rem;
  }
  
  .fa-star {
    font-size: 2.5rem;
  }

  #table p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  
  .all-content{
    padding: 1.5rem 0;
  }

  section{
    width: 90vw;
  }

  main{
    width: 90vw;
    border-radius: 10px;
  }

  .logo, .result{
    font-size: 1.8rem;
  }

  main h3{
    font-size: 1.3rem;
  }

  main p{
    font-size: 1rem;
  }

  main ul li{
    font-size: 0.9rem;
  }

  #question{
    font-size: 1rem;
  }

  .quiz-info h4{
    font-size: 1.5rem;
  }
  
  .quiz-info p{
    font-size: 1rem;
  }

  article{
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
  }

  article p, article a{
    font-size: 0.8rem;
  }

  .fa-star {
    font-size: 2rem;
  }

  #table{
    display: none;
    width: 90vw;
    margin: 0 auto;
    border-radius: 8px;
  }

  #table p{
    font-size: 0.8rem;
  }

  .water-mark{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 330px){
  
  main{
    border-radius: 8px;
  }

  .logo, .result{
    font-size: 1.5rem;
  }

  main h3{
    font-size: 1rem;
  }

  main p{
    font-size: 0.8rem;
  }

  main ul li{
    font-size: 0.8rem;
  }

  #question{
    font-size: 1rem;
  }

  .quiz-info h4{
    font-size: 1.2rem;
  }
  
  .quiz-info p{
    font-size: 0.8rem;
  }

  article{
    width: 90vw;
    margin: 0 auto;
    border-radius: 8px;
  }

  .fa-star {
    font-size: 1.7rem;
  }

  #table{
    border-radius: 6px;
  }

  #table p{
    font-size: 0.7rem;
  }
}